# Banco de dados e dados locais
*.db
*.sqlite
*.sqlite3
data/

# Segredos e Configurações de Ambiente
.env
.streamlit/secrets.toml

# Python / Bytecode
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Logs e arquivos de sistema
*.log
.DS_Store
Thumbs.db
